{% extends "layout.nunjucks" %}
{% block content %}
<h2>Advanced Search</h2>
<p class="message">This form is not yet functional.</p>
<form class="advanced-search">
	<label for="keywords">Keywords</label><input type="text" id="keywords" name="keywords" class="u-full-width" tabindex="1" />
	<label for="composer">Composer</label><input type="text" id="composer" name="composer" class="u-full-width" tabindex="2" />
	<label for="film-title">Film Title</label><input type="text" id="film-title" name="film-title" class="u-full-width" tabindex="3" />
	<label for="director">Director</label><input type="text" id="director" name="director" class="u-full-width" tabindex="4" />
	<label>Date Range</label>
	<div class="row">
		<div class="six columns">
			<label for="min-date">From</label>
			<input type="number" id="min-date" name="min-date" min="1900" max="9999" value="1900" class="u-full-width" tabindex="5" />
		</div>
		<div class="six columns">
			<label for="max-date">To</label>
			<input type="number" id="max-date" name="max-date" min="1900" max="9999" class="u-full-width" tabindex="6" />
		</div>
	</div>
	<label for="production-co">Production Company</label><input type="text" id="production-co" name="production-co" class="u-full-width" tabindex="7" />
	<label for="country">Country</label><input type="text" id="country" name="country" class="u-full-width" tabindex="8" />
	<div class="g-recaptcha" data-sitekey="6LfFqSAUAAAAAAgzNW9BgPfnmPzwXXJvcKDbqXRT"></div>
	<input class="button-primary" type="submit" value="Submit" tabindex="9" />
</form>
{% endblock %}
